<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrestigePairs | Products</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>

    <!-- Header -->
    <section id="header">
        <a href="../index.html">PrestigePairs</a> <!-- Logo -->
        <nav>
            <div> <!-- Navigation Menu -->
                <ul id="navbar">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./product.html">Products</a></li>
                    <li><a href="./blog.html">Blog</a></li>
                    <li><a href="./Research.html">Research</a></li>
                    <li><a href="./AboutUs.html">About Us</a></li>
                </ul>
            </div>
        </nav>
        <a href="./cart.html" style="margin-right: 60px;"><img src="./images/icon/cart.png" width="30" alt="cart"></a>
    </section>


    <!-- Main Content -->
    <main>

        <!-- Summer Sale Div -->
        <section id="hero-sale">
            <div>
                <h1>Summer Sale Is Here!</h1>
                <p>Unlock up to 50% off limited sneakers drop.</p>
                <a class="btn" href="#Summer">Shop the Sale</a>
            </div>
        </section>

        <!-- Nike Products -->
        <section id="nike" class="productsBrand" >
            <div class="brand-content">
                <h2>Nike</h2>
                <div class="scrollable">
                    <button class="prev" onclick="prev(this)">&#10094;</button>
                    <div class="products">
                        <div class="product">
                            <div class="product-img"><img src="./images/products/Nike/nike1.jpg" alt="Air Force"></div>
                            <div class="product-info">
                                <div class="name-cart">
                                    <h3>Nike Air Force 1 '07</h3>
                                    <button onclick="addToCart()" class="cart-btn">➕</button>
                                </div>
                                <h4> 
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <span style="color:gray;">(36)</span>
                                </h4>
                                <h4>NRs. 15,700</h4>
                                <p>A timeless classic with premium leather uppers and versatile style, making it a staple in sneaker culture.</p>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product-img"><img src="./images/products/Nike/nike2.jpg" alt="Air Max"></div>
                            <div class="product-info">
                                <div class="name-cart">
                                    <h3>Nike Air Max 270</h3>
                                    <button onclick="addToCart()" class="cart-btn">➕</button>
                                </div>
                                <h4> 
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <span style="color:gray;">(36)</span>
                                </h4>
                                <h4>NRs. 22,850</h4>
                                <p>Features the largest Air unit in the heel, offering exceptional cushioning and a sleek design suitable for everyday wear.</p>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product-img"><img src="./images/products/Nike/nike3.jpg" alt="React Element"></div>
                            <div class="product-info">
                                <div class="name-cart">
                                    <h3>Nike React Element 55</h3>
                                    <button onclick="addToCart()" class="cart-btn">➕</button>
                                </div>
                                <h4> 
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <span style="color:gray;">(36)</span>
                                </h4>
                                <h4>NRs. 23,399</h4>
                                <p>Known for its lightweight construction and responsive React foam, providing comfort and a futuristic aesthetic.</p>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product-img"><img src="./images/products/Nike/nike1.jpg" alt="Air Force"></div>
                            <div class="product-info">
                                <div class="name-cart">
                                    <h3>Nike Air Force 1 '07</h3>
                                    <button onclick="addToCart()" class="cart-btn">➕</button>
                                </div>
                                <h4> 
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <span style="color:gray;">(36)</span>
                                </h4>
                                <h4>NRs. 15,700</h4>
                                <p>A timeless classic with premium leather uppers and versatile style, making it a staple in sneaker culture.</p>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product-img"><img src="./images/products/Nike/nike2.jpg" alt="Air Max"></div>
                            <div class="product-info">
                                <div class="name-cart">
                                    <h3>Nike Air Max 270</h3>
                                    <button onclick="addToCart()" class="cart-btn">➕</button>
                                </div>
                                <h4> 
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <span style="color:gray;">(36)</span>
                                </h4>
                                <h4>NRs. 17,850</h4>
                                <p>Features the largest Air unit in the heel, offering exceptional cushioning and a sleek design suitable for everyday wear.</p>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product-img"><img src="./images/products/Nike/nike3.jpg" alt="React Element"></div>
                            <div class="product-info">
                                <div class="name-cart">
                                    <h3>Nike React Element 55</h3>
                                    <button onclick="addToCart()" class="cart-btn">➕</button>
                                </div>
                                <h4> 
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <span style="color:gray;">(36)</span>
                                </h4>
                                <h4>NRs. 23,399</h4>
                                <p>Known for its lightweight construction and responsive React foam, providing comfort and a futuristic aesthetic.</p>
                            </div>
                        </div>
                    </div>
                    <button class="next" onclick="next(this)">&#10095;</button>
                </div>
            </div>
        </section>

        <!-- Adidas Products -->
        <section id="adidas" class="productsBrand" >
            <div class="brand-content">
                <h2>Adidas</h2>
                <div class="scrollable">
                    <button class="prev" onclick="prev(this)">&#10094;</button>
                    <div class="products">
                        <div class="product">
                            <div class="product-img"><img src="./images/products/Adidas/adidas1.jpg" alt="Y-3 Kaiwa"></div>
                            <div class="product-info">
                                <div class="name-cart">
                                    <h3>Adidas Y-3 Kaiwa</h3>
                                    <button onclick="addToCart()" class="cart-btn">➕</button>
                                </div>
                                <h4> 
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <span style="color:gray;">(36)</span>
                                </h4>
                                <h4>NRs. 54,899</h4>
                                <p>Y-3 is a strong examination of the blend of sport and style and the tension caused by mixing tradition with all that is modern.</p>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product-img"><img src="./images/products/Adidas/adidas2.jpg" alt="Y-3 Regu"></div>
                            <div class="product-info">
                                <div class="name-cart">
                                    <h3>Adidas Y-3 Regu</h3>
                                    <button onclick="addToCart()" class="cart-btn">➕</button>
                                </div>
                                <h4> 
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <span style="color:gray;">(36)</span>
                                </h4>
                                <h4>NRs. 48030</h4>
                                <p>The Y-3 Regu takes its cues from an influential early-2000s shoe — the Mei — and reinterprets the provocative design for today.</p>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product-img"><img src="./images/products/Adidas/adidas3.jpg" alt="Campus 00s"></div>
                            <div class="product-info">
                                <div class="name-cart">
                                    <h3>Campus 00s Shoes</h3>
                                    <button onclick="addToCart()" class="cart-btn">➕</button>
                                </div>
                                <h4> 
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <span style="color:gray;">(36)</span>
                                </h4>
                                <h4>NRs. 15,095</h4>
                                <p>These adidas shoes take the iconic elements of the Campus 80s and give them a next-gen, skateboarding-inspired twist. </p>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product-img"><img src="./images/products/Adidas/adidas1.jpg" alt="Y-3 Kaiwa"></div>
                            <div class="product-info">
                                <div class="name-cart">
                                    <h3>Adidas Y-3 Kaiwa</h3>
                                    <button onclick="addToCart()" class="cart-btn">➕</button>
                                </div>
                                <h4> 
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <span style="color:gray;">(36)</span>
                                </h4>
                                <h4>NRs. 54,899</h4>
                                <p>Y-3 is a strong examination of the blend of sport and style and the tension caused by mixing tradition with all that is modern.</p>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product-img"><img src="./images/products/Adidas/adidas2.jpg" alt="Y-3 Regu"></div>
                            <div class="product-info">
                                <div class="name-cart">
                                    <h3>Adidas Y-3 Regu</h3>
                                    <button onclick="addToCart()" class="cart-btn">➕</button>
                                </div>
                                <h4> 
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <span style="color:gray;">(36)</span>
                                </h4>
                                <h4>NRs. 48030</h4>
                                <p>The Y-3 Regu takes its cues from an influential early-2000s shoe — the Mei — and reinterprets the provocative design for today.</p>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product-img"><img src="./images/products/Adidas/adidas3.jpg" alt="Campus 00s"></div>
                            <div class="product-info">
                                <div class="name-cart">
                                    <h3>Campus 00s Shoes</h3>
                                    <button onclick="addToCart()" class="cart-btn">➕</button>
                                </div>
                                <h4> 
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <span style="color:gray;">(36)</span>
                                </h4>
                                <h4>NRs. 15,095</h4>
                                <p>These adidas shoes take the iconic elements of the Campus 80s and give them a next-gen, skateboarding-inspired twist. </p>
                            </div>
                        </div>
                    </div>
                    <button class="next" onclick="next(this)">&#10095;</button>
                </div>
            </div>
        </section>

        <!-- New Balance Products -->
        <section id="newbalance" class="productsBrand" >
            <div class="brand-content">
                <h2>New Balance</h2>
                <div class="scrollable">
                    <button class="prev" onclick="prev(this)">&#10094;</button>
                    <div class="products">
                        <div class="product">
                            <div class="product-img"><img src="./images/products/NewBalance/shoe1.jpg" alt="990v6"></div>
                            <div class="product-info">
                                <div class="name-cart">
                                    <h3>New Balance 990v6</h3>
                                    <button onclick="addToCart()" class="cart-btn">➕</button>
                                </div>
                                <h4> 
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <span style="color:gray;">(36)</span>
                                </h4>
                                <h4>NRs. 27,400</h4>
                                <p>The latest in the 990 series, offering enhanced cushioning and a modernized design while maintaining its classic appeal.</p>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product-img"><img src="./images/products/NewBalance/shoe2.webp" alt="574"></div>
                            <div class="product-info">
                                <div class="name-cart">
                                    <h3>New Balance 574</h3>
                                    <button onclick="addToCart()" class="cart-btn">➕</button>
                                </div>
                                <h4> 
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <span style="color:gray;">(36)</span>
                                </h4>
                                <h4>NRs. 12,350</h4>
                                <p>‘The most New Balance shoe ever’ says it all, right? No, actually. The 574 might be our unlikeliest icon.</p>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product-img"><img src="./images/products/NewBalance/shoe3.jpg" alt="FuelCell Rebel v5"></div>
                            <sup style="color: rgb(234, 157, 13);">Coming soon</sup>
                            <div class="product-info">
                                <div class="name-cart">
                                    <h3>FuelCell Rebel v5</h3>
                                    <button onclick="addToCart()" class="cart-btn">➕</button>
                                </div>
                                <h4> 
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <span style="color:gray;">(36)</span>
                                </h4>
                                <h4>NRs. 19,200</h4>
                                <p>The FuelCell Rebel v5 was built to look and feel fast. With its streamlined, race-inspired mesh upper and colorblocking designs, the resulting silhouette boasts a modern style that inspires, surprises, and confidently stands out ahead of the pack.</p>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product-img"><img src="./images/products/NewBalance/shoe1.jpg" alt="990v6"></div>
                            <div class="product-info">
                                <div class="name-cart">
                                    <h3>New Balance 990v6</h3>
                                    <button onclick="addToCart()" class="cart-btn">➕</button>
                                </div>
                                <h4> 
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <span style="color:gray;">(36)</span>
                                </h4>
                                <h4>NRs. 27,400</h4>
                                <p>The latest in the 990 series, offering enhanced cushioning and a modernized design while maintaining its classic appeal.</p>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product-img"><img src="./images/products/NewBalance/shoe2.webp" alt="574"></div>
                            <div class="product-info">
                                <div class="name-cart">
                                    <h3>New Balance 574</h3>
                                    <button onclick="addToCart()" class="cart-btn">➕</button>
                                </div>
                                <h4> 
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <span style="color:gray;">(36)</span>
                                </h4>
                                <h4>NRs. 12,350</h4>
                                <p>‘The most New Balance shoe ever’ says it all, right? No, actually. The 574 might be our unlikeliest icon.</p>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product-img"><img src="./images/products/NewBalance/shoe3.jpg" alt="FuelCell Rebel v5"></div>
                            <sup style="color: rgb(234, 157, 13);">Coming soon</sup>
                            <div class="product-info">
                                <div class="name-cart">
                                    <h3>FuelCell Rebel v5</h3>
                                    <button onclick="addToCart()" class="cart-btn">➕</button>
                                </div>
                                <h4> 
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <span style="color:gray;">(36)</span>
                                </h4>
                                <h4>NRs. 19,200</h4>
                                <p>The FuelCell Rebel v5 was built to look and feel fast. With its streamlined, race-inspired mesh upper and colorblocking designs, the resulting silhouette boasts a modern style that inspires, surprises, and confidently stands out ahead of the pack.</p>
                            </div>
                        </div>
                    </div>
                    <button class="next" onclick="next(this)">&#10095;</button>
                </div>
            </div>
        </section>

        <!-- Caliber Products -->
        <section id="caliber" class="productsBrand" >
            <div class="brand-content">
                <h2>Caliber</h2>
                <div class="scrollable">
                    <button class="prev" onclick="prev(this)">&#10094;</button>
                    <div class="products">
                        <div class="product">
                            <div class="product-img"><img src="./images/products/Caliber/caliber1.jpg" alt="CONOR 567SK"></div>
                            <div class="product-info">
                                <div class="name-cart">
                                    <h3>Caliber CONOR 567SK – Coffee</h3>
                                    <button onclick="addToCart()" class="cart-btn">➕</button>
                                </div>
                                <h4> 
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <span style="color:gray;">(36)</span>
                                </h4>
                                <h4>NRs. 5,850</h4>
                                <p>High-top sneakers featuring a rich coffee colorway, EVA sole for comfort, and a lace-up closure for a secure fit.</p>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product-img"><img src="./images/products/Caliber/caliber2.jpg" alt="Urban Runner"></div>
                            <div class="product-info">
                                <div class="name-cart">
                                    <h3>Caliber Urban Runner</h3>
                                    <button onclick="addToCart()" class="cart-btn">➕</button>
                                </div>
                                <h4> 
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <span style="color:gray;">(36)</span>
                                </h4>
                                <h4>NRs. 4,250</h4>
                                <p>Designed for city dwellers, combining sleek aesthetics with functionality for urban environments.</p>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product-img"><img src="./images/products/Caliber/caliber3.jpg" alt="ADAM 678CMF.M"></div>
                            <div class="product-info">
                                <div class="name-cart">
                                    <h3>Caliber ADAM 678CMF.M </h3>
                                    <button onclick="addToCart()" class="cart-btn">➕</button>
                                </div>
                                <h4> 
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <span style="color:gray;">(36)</span>
                                </h4>
                                <h4>NRs. 4,450</h4>
                                <p>Sail smoothly from work to party, with our stylishly comfy ADAM 678CMF.M which is a classic example for effortless fashion. Its a fusion of classy and a funky look where the pair looks dramatic yet being elegant.</p>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product-img"><img src="./images/products/Caliber/caliber1.jpg" alt="CONOR 567SK"></div>
                            <div class="product-info">
                                <div class="name-cart">
                                    <h3>Caliber CONOR 567SK – Coffee</h3>
                                    <button onclick="addToCart()" class="cart-btn">➕</button>
                                </div>
                                <h4> 
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <span style="color:gray;">(36)</span>
                                </h4>
                                <h4>NRs. 3,850</h4>
                                <p>High-top sneakers featuring a rich coffee colorway, EVA sole for comfort, and a lace-up closure for a secure fit.</p>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product-img"><img src="./images/products/Caliber/caliber2.jpg" alt="Urban Runner"></div>
                            <div class="product-info">
                                <div class="name-cart">
                                    <h3>Caliber Urban Runner</h3>
                                    <button onclick="addToCart()" class="cart-btn">➕</button>
                                </div>
                                <h4> 
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <span style="color:gray;">(36)</span>
                                </h4>
                                <h4>NRs. 4,250</h4>
                                <p>Designed for city dwellers, combining sleek aesthetics with functionality for urban environments.</p>
                            </div>
                        </div>
                        <div class="product">
                            <div class="product-img"><img src="./images/products/Caliber/caliber3.jpg" alt="ADAM 678CMF.M"></div>
                            <div class="product-info">
                                <div class="name-cart">
                                    <h3>Caliber ADAM 678CMF.M </h3>
                                    <button onclick="addToCart()" class="cart-btn">➕</button>
                                </div>
                                <h4> 
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <span style="color:gray;">(36)</span>
                                </h4>
                                <h4>NRs. 4,450</h4>
                                <p>Sail smoothly from work to party, with our stylishly comfy ADAM 678CMF.M which is a classic example for effortless fashion. Its a fusion of classy and a funky look where the pair looks dramatic yet being elegant.</p>
                            </div>
                        </div>
                    </div>
                    <button class="next" onclick="next(this)">&#10095;</button>
                </div>
            </div>

        </section>

        <!-- Sale Products -->
        <section id="Summer" class="productsBrand" >
            <div class="brand-content">
                <h2>Summer Sale🏷️</h2>
                <h5>Get up to 50% off 💥</h5>
                <div class="products">
                    <div class="product">
                        <div class="product-img"><img src="./images/products/Nike/nike2.jpg" alt="Air Max"></div>
                            <div class="product-info">
                                <sup>Limited Offer</sup>
                                <div class="name-cart">
                                    <h3>Nike Air Max 270</h3>
                                    <button onclick="addToCart()" class="cart-btn">➕</button>
                                </div>
                                <h4> 
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                    <span style="color:gray;">(36)</span>
                                </h4>
                                <h4>NRs. <del>17,850</del> 11,499</h4>
                                <p>Features the largest Air unit in the heel, offering exceptional cushioning and a sleek design suitable for everyday wear.</p>
                            </div>
                    </div>
                    <div class="product">
                        <div class="product-img"><img src="./images/products/Caliber/caliber1.jpg" alt="CONOR 567SK"></div>
                        <div class="product-info">
                            <sup>Out of Stock</sup>
                            <div class="name-cart">
                                <h3>Caliber CONOR 567SK</h3>
                                <button onclick="addToCart()" class="cart-btn" disabled>➕</button>
                            </div>
                            <h4> 
                                <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                <span style="color:gray;">(36)</span>
                            </h4>
                            <h4>NRs. <del>5,850</del> 2925</h4>
                            <p>High-top sneakers featuring a rich coffee colorway, EVA sole for comfort, and a lace-up closure for a secure fit.</p>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-img"><img src="./images/products/Adidas/adidas1.jpg" alt="Y-3 Kaiwa"></div>
                        <div class="product-info">
                            <sup>Rare item 🔥</sup>
                            <div class="name-cart">
                                <h3>Adidas Y-3 Kaiwa</h3>
                                <button onclick="addToCart()" class="cart-btn">➕</button>
                            </div>
                            <h4> 
                                <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                <span style="color:gray;">(36)</span>
                            </h4>
                            <h4>NRs. <del>54,899</del> 27,500</h4>
                            <p>Y-3 is a strong examination of the blend of sport and style and the tension caused by mixing tradition with all that is modern.</p>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-img"><img src="./images/products/NewBalance/shoe2.webp" alt="574"></div>
                        <div class="product-info">
                            <sup>Limited Offer ⌚</sup>
                            <div class="name-cart">
                                <h3>New Balance 574</h3>
                                <button onclick="addToCart()" class="cart-btn">➕</button>
                            </div>
                            <h4> 
                                <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                <img width="20" src="./images/icon/fullstar.png" alt="fullstar">
                                <span style="color:gray;">(36)</span>
                            </h4>
                            <h4>NRs. <del>12,350</del> 6999</h4>
                            <p>‘The most New Balance shoe ever’ says it all, right? No, actually. The 574 might be our unlikeliest icon.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Newsletter -->
        <section id="newsletter">
            <div class="newsletter-content">
                <div class="newsletter-text">
                    <h1>Stay Updated</h1>
                    <h4>Subscribe to our newsletter for exclusive offers, new arrivals, and style inspiration.</h4>
                    <form action="" id="newsletter-form">
                        <input type="email" id="email" placeholder="Enter your email" />
                        <button type="submit">Subscribe</button>
                        <p>We respect your privacy. Unsubscribe at any time</p>
                        <p id="form-message" style="color: white;"></p>
                    </form>
                </div>
            </div>
        </section>

    </main>

    <!-- Footer -->
    <footer>
        <div class="footer-img"><img src="./images/footerLeft.png" alt=""></div>
        <div class="footer-content">
            <div class="footer-text">
                <h1 class="logo">PrestigePairs</h1>
                <p>Matepani-12, Pokhara, Kaski</p>
                <p>+977-980-000-0000 | 061-000-000</p>
                <div id="social-media">
                    <a href="https://www.facebook.com/informaticscollegepkr/" target="_blank">
                        <img src="./images/icon/fb.png" width="20" alt="fb">
                    </a>
                    <a href="https://www.instagram.com/icp.nepal" target="_blank">
                        <img src="./images/icon/insta.png" width="30" alt="insta">
                    </a>
                </div>
            </div>
            <hr style="width: 100%; margin: 10px; color: black; height: 1px; background-color: black;">
            <p>© 2025 PrestigePairs. All Rights Reserved.</p>
        </div>
        <div class="footer-img"><img src="./images/footerRight.png" alt=""></div>
     </footer>
    
</body>
<!-- External JS for addToCart Function shared by 2pages -->
<script src="../JS/script.js"></script>

<!-- Internal CSS -->
<style>
    /* Summer Sale */
    #hero-sale {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--textColor);
        padding-top: 100px;
        height: 695px;
        /* Background image */
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./images/1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    #hero-sale h1 {
        font-size: 100px;
        color: var(--bgcolor);
    }
    #hero-sale p {
        font-size: 25px;
        font-weight: 600;
        color: var(--navbg);
        margin: 20px 0;
    }
    #hero-sale .btn {
        margin: 5px 0;
        padding: 10px 20px;
        border: 1px solid var(--navbg);
        color: var(--highlight);
        background-color: var(--navbg);
        border-radius: 15px;
        font-size: 16px;
        cursor: pointer;
        transition: .6s ease;
        font-weight: 600;
    }
    #hero-sale .btn:hover {
        color: var(--navbg);
        background-color: var(--highlight);
        font-size: 18px;
    }

    /* Products */
    .productsBrand{
        margin: 100px 0;
    }
    .brand-content{
        margin: 0 80px;
        padding: 10px 15px;
        background-color: whitesmoke;
        border-radius: 20px;
        height: 500px;
    }
    .brand-content h2{
        font-size: 42px;
        font-weight: bolder;
        text-align: center;
        color: black;
    }
    .brand-content h5{
        font-size: 21px;
        font-weight: bolder;
        text-align: center;
        color: black;
    }
    .scrollable{
        position: relative;
        overflow: hidden;
    }
    button.prev,
    button.next {
    position: absolute;
    top: 50%;
    background: black;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 16px;
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
    opacity: 0.7;
    }
    button.prev {
        left: 0;
    }
    button.next {
        right: 0;
    }
    /* Hides scroll bar in different web browsers */
    .products::-webkit-scrollbar {
        display: none;
    }
    /* Newsletter */

    #newsletter{
        margin-top: 175px;
        padding-bottom: 100px;
    }
    .newsletter-content{
        margin: 0 80px;
        border-radius: 20px;
        height: 350px;
        /* Background Image */
        background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('./images/newsletter.jpg') !important;
        background-repeat: no-repeat;
        background-position: bottom !important;
        background-size: cover !important;
    }
    .newsletter-text{
        text-align: center;
        padding: 20px 0;
        color: white;
    }
    .newsletter-text h1{
        font-size: 50px;
        font-weight: 800;
    }
    .newsletter-text h4{
        font-size: 18px;
        font-weight: 700;
        margin: 20px 0 40px 0;
        /* margin-bottom: 30px; */
    }
    #newsletter-form input{
        padding: 10px;
        width: 250px;
        border-radius: 15px;
        border: none;
        background-color: white;
    }
    #newsletter-form p{
        padding: 10px 0;
    }
    #newsletter-form button{
        border-radius: 12px;
        background-color: var(--highlight);
        color: var(--navbg);
        font-weight: 600;
        padding: 8px;
        transition: .5s ease;
    }
    #newsletter-form button:hover{
        cursor: pointer;
        background-color: var(--navbg);
        color: var(--highlight);
    }
    .products{
        overflow-y: hidden;
        height: 550px;
        scroll-behavior: smooth;
    }
    .scrollable .products .product{
        flex: 0 0 auto;
        border: 2px solid var(--navbg);
        background-color: var(--bgcolor);
    }
    .product{
        background-color: var(--bgcolor);
    }
</style>
<script>
    // / Get references to fom elements
    const form = document.getElementById('newsletter-form');
    const message = document.getElementById('form-message');

    // Add an event listener for form submission (newsletter)
    form.addEventListener('submit', function(event){
        event.preventDefault();// Prevent the form from refreshing the page on submit

        const input = document.getElementById("email").value;
        if(input==""){
            alert("Field cannot be empty.")
        }
        else{
            message.innerText = 'Thank you for subscribing!';
        }
    });

    // Functions to scroll the products section by 800px
    function next(btn) {
        const products = btn.parentElement.querySelector('.products'); // btn.parentElement select the parent element of the button i.e. ".scrollable" and ``querySelector('.products')`` helps select element with class ".products" inside scrollable
        products.scrollBy(800, 0); //800px by x-axis and 0px by y-axis
    }
    
    function prev(btn) {
        const products = btn.parentElement.querySelector('.products');
        products.scrollBy(-800, 0); // (-800)px by x-axis and 0px by y-axis
    }
</script>
</html>