<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrestigePairs | Research</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <!-- Header -->
    <section id="header">
        <a href="../index.html">PrestigePairs</a> <!-- Logo -->
        <nav>
            <div> <!-- Navigation Menu -->
                <ul id="navbar">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./product.html">Products</a></li>
                    <li><a href="./blog.html">Blog</a></li>
                    <li><a href="./Research.html">Research</a></li>
                    <li><a href="./AboutUs.html">About Us</a></li>
                </ul>
            </div>
        </nav>
        <a href="./cart.html" style="margin-right: 60px;"><img src="./images/icon/cart.png" width="30" alt="cart"></a>
    </section>

    <!-- Main Content -->
    <main>
        <!-- Landing Page -->
        <section id="research-landing">
            <div class="landing-txt">
                <h1>Design Research & Inspirations</h1>
                <p>Our design journey for <i>PrestigePairs</i> has been better by exploring leading industry examples. By examining established websites, we’ve uncovered best practices that not only shows aesthetics but also enhance usability. This page captures our key inspirations and insights.</p>
            </div>
        </section>

        <!-- Different Research Topic -->
        <section id="research">
            <div class="research-tables">

                <div class="table">
                    <table style="width: 80%;">
                        <tr>
                            <th colspan="2" >
                                <h1  class="table-title">Button over Image</h1>
                            </th>
                        </tr>
                        <tr class="table-img">
                            <td>
                                <a href="https://calibershoes.com" target="_blank">
                                    <img style="width: 90%;" src="./images/Research/caliber.png" alt="ref">
                                </a>
                            </td>
                            <td>
                                <a href="../index.html" target="_blank">
                                    <img style="width: 90%;" src="./images/Research/caliber-ref.png" alt="out">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p class="table-desc">
                                    We drew inspiration from the official website of Caliber Shoes for the design of buttons placed over images.What stood out to us was the hover effect implemented on Caliber’s site, where the button smoothly transitions to the center of the image, drawing user attention and enhancing interactivity. We adopted and customized this idea in our own design on the right, as seen in the "Shop By Category" section of our site. This effect was achieved by using hover effect on the div which has the image of the shoe category, and when hovered the anchor tag bottom position is moved about '45%' and by applying 'linear-gradient' on top of the image the title becomes more visible over the image.
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="table">
                    <table style="width: 80%;">
                        <tr>
                            <th colspan="2" >
                                <h1  class="table-title">Hero Section Design </h1>
                            </th>
                        </tr>
                        <tr class="table-img">
                            <td>
                                <a href="https://puma.com" target="_blank">
                                    <img style="width: 90%;" src="./images/Research/puma.png" alt="ref">
                                </a>
                            </td>
                            <td>
                                <a href="../index.html" target="_blank">
                                    <img style="width: 90%;" src="./images/Research/puma-ref.png" alt="out">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p class="table-desc">
                                    We took inspiration from Puma’s website to design our homepage banner. Their clean layout with bold text and a clear button looked professional and easy to understand.

                                    Using this idea, we created a similar hero section for PrestigePairs with a large product image, welcome message, and a simple “Shop Now” button. This helps visitors quickly understand what our site is about and encourages them to start exploring. <br>
                                    This was achieved by adding `background-image` to the section with linear-gradient so that the texts will be more visible. Inside the section was  the content of the home page such as welcome text, motto and a button. This allowed us to show content over the image
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="table">
                    <table style="width: 80%;">
                        <tr>
                            <th colspan="2" >
                                <h1  class="table-title">Navbar Design</h1>
                            </th>
                        </tr>
                        <tr class="table-img">
                            <td>
                                <a href="https://row.velasca.com" target="_blank">
                                    <img style="width: 90%;" src="./images/Research/velasca.png" alt="ref">
                                </a>
                            </td>
                            <td>
                                <a href="../index.html" target="_blank">
                                    <img style="width: 90%;" src="./images/Research/velasca-ref.png" alt="out">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p class="table-desc">
                                    We drew inspiration from Velasca’s website to craft the navigation bar for PrestigePairs. Velasca’s clean and elegant navigation, combined with subtle hover effects, caught our attention. Specifically, the hover effect that gently changes the text color and scales it bigger made the interactions feel dynamic yet refined. We applied this same approach to our navbar to enhance user experience, maintain visual consistency, and make the site feel more responsive and polished. <br>
                                    This was achieved by first listing the navbar options in an unordered list and then setting the `display` to `flex` of the `ol`. Then to list the items side by side with equal spaces in between `padding: 0 35px" was used which gave spaces of 35px to left and right of the list. Lastly a hover effect was used over the navbar items where when hovered the text-color was changed, and by using `transform: scale(1.06)` the text was made 1.06 times bigger and finally with `transition: .3s` the subtle change on hover effect was made smooth with a time of .3 second to complete the changes.
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="table">
                    <table style="width: 80%;">
                        <tr>
                            <th colspan="2" >
                                <h1  class="table-title">Footer Layout</h1>
                            </th>
                        </tr>
                        <tr class="table-img">
                            <td>
                                <a href="https://row.velasca.com" target="_blank">
                                    <img style="width: 90%;" src="./images/Research/icp.png" alt="ref">
                                </a>
                            </td>
                            <td>
                                <a href="../index.html" target="_blank">
                                    <img style="width: 90%;" src="./images/Research/icp-ref.png" alt="out">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p class="table-desc">
                                    While the design of our footer is not an exact replica, we were inspired by the core structure used on the icp's website. Their clear and informative footer layout — which includes the organization’s location, contact information, social media links, and a copyright section — provided a strong foundation for our own. Additionally, we removed unnecessary links to keep it simple and clean and to ensure our footer remains practical, user-friendly, and professional, helping users quickly find important information and stay connected. <br>
                                    We achieved this by simply placing three divs side by side using `disply: flex` to their parent div and then displaying image to first and third div while adding our shop's logo, address, social media inside the second div. `hr` tag was also used to create a line to seperate shop's information and copyright information.
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="table">
                    <table style="width: 80%;">
                        <tr>
                            <th colspan="2" >
                                <h1  class="table-title">User Interaction & Form Design Research</h1>
                            </th>
                        </tr>
                        <tr class="table-img">
                            <td>
                                <a href="https://www.goldstarshoes.com/contact%20us" target="_blank">
                                    <img style="width: 90%;" src="./images/Research/goldstar.png" alt="ref">
                                </a>
                            </td>
                            <td>
                                <a href="./AboutUs.html#feedback" target="_blank">
                                    <img style="width: 90%;" src="./images/Research/goldstar-ref.png" alt="out">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p class="table-desc">
                                    We took inspiration from Goldstar's contact page when designing our feedback form section. While the layout differs, the core idea of placing the form on the right side and pairing it with an engaging visual element on the left was adapted from their design. This approach creates a balanced and user-friendly interface that draws attention while maintaining focus on the form itself. <br>
                                    This was achieved by adding `display: flex` to a parent div which contained two different divs one for the image (left div) and another for the form itself (right div).
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
                
            </div>
        </section>
    
    </main>

    <!-- Footer -->
    <footer>
        <div class="footer-img"><img src="./images/footerLeft.png" alt=""></div>
        <div class="footer-content">
            <div class="footer-text">
                <h1 class="logo">PrestigePairs</h1>
                <p>Matepani-12, Pokhara, Kaski</p>
                <p>+977-980-000-0000 | 061-000-000</p>
                <div id="social-media">
                    <a href="https://www.facebook.com/informaticscollegepkr/" target="_blank">
                        <img src="./images/icon/fb.png" width="20" alt="fb">
                    </a>
                    <a href="https://www.instagram.com/icp.nepal" target="_blank">
                        <img src="./images/icon/insta.png" width="30" alt="insta">
                    </a>
                </div>
            </div>
            <hr style="width: 100%; margin: 10px; color: black; height: 1px; background-color: black;">
            <p>© 2025 PrestigePairs. All Rights Reserved.</p>
        </div>
        <div class="footer-img"><img src="./images/footerRight.png" alt=""></div>
     </footer>
    
    
</body>
<style>
    /* Landing */
    #research-landing{
        display: flex;
        height: 780px;
        justify-content: center;
        color: var(--highlight);
        background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
    }
    #research-landing p{
        font-size: 25px;
        margin: 20px 0;
        margin-bottom: 30px;
    }
    .landing-txt  h1{
        font-size: 65px;
        text-align: center;
        margin-bottom: 50px;
    }
    .landing-txt{
        margin-left: 50px;
        margin-top: 250px;
        max-width: 1100px;
        text-align: justify;
        line-height: 1.2;
    }
    /* Different Research Topics  */
    #research{
        display: flex;
        justify-content: center;
    }
    .research-tables{
        width: 90%;
        margin-top: 100px;
    }
    .table-title {
        font-size: 45px;
        padding: 10px;
        color: var(--highlight);
        text-align: center;
        text-align: center;
        font-weight: 200;
    }
    .table-img td{
        text-align: center; 
        border-radius: 25px;
        padding: 20px 0;
    }
    .table-img img{
        border-radius: 25px;
        transition: .6s;
        box-shadow:  0 5px 15px rgba(0, 0, 0, .2);
    }
    .table-img img:hover{
        transform: scale(1.05);
        box-shadow:  0 5px 15px rgba(0, 0, 0, .4);
    }
    table{
        width: 100% !important;
    }
    .table{
        background-color: var(--navbg);
        border-radius: 20px;
        margin: 50px 0;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    }
    .table-desc{
        padding: 40px;
        font-size: 18px;
        line-height: 1.5;
        text-align: justify;
    }
</style>
</html>